<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>{{ title }}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    The date and time is currently: {{ time }} <br> <br>
    Welcome to David's bar! We're glad to have you. Would you like a drink?
    <br><br>
    What would you like to order? <br> <br>
    </head>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <b>{{ message }}</b>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <body>
    <table class="table table-striped">
       <!-- Table headers -->
    <th>
        <td>Drink</td>
        <td>Description</td>
            <td>Status</td>
</tr>
    </th>

<!-- For loop logic of jinja template -->
{%for i in range(0, length)%}

<!-- table rows -->
<tr>
    <td><a href="{{'/order/%s'%a.drink_list_for_html[i][0]}}" class="btn btn-primary" role="button">{{drink_list_for_html[i][0}}</a></td>
    <td>{{drink_list_for_html[i][1}}</td>
    <td>{{drink_list_for_html[i][2}}</td>

{%endfor%}
    </table>
</body>
</html>